@media screen and (min-width: 600px){
  nav { background: #788aa3; }
  nav li, a { display: inline-block; }
  #menu { display: none; }
  nav ul { padding: 0; font-size: 1em;}
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .25s;
  }
  nav ul.hide { display: block; }
  nav a.current {
    background-color: #fff8eeff;
    color: #121225;
  }
  main, footer {
    margin: auto;
    max-width: 80%;
  }
  /*-----five day forecast-----*/
  #forecast {
    display: inline;
    margin: 0 auto;
    padding: 2em;
  }
  #forecast h2 {
    text-align: center;
  }
  #table {
    display: grid;
    grid-template-columns: repeat(5, .5fr);
    grid-template-rows: repeat(3, .5fr);
  }
    .day {
      grid-row: 1/2;
  }
    .temp {
      grid-row: 2/3;
    }
    .icon {
      grid-row: 3/4;
    }
  section .image {
    width: 100%;
    object-fit: contain;
  }
  #picnic .image {
    width: 50%;
    float: right;
  }
/*  #table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15px auto 20px;
    grid-gap: 10px;
  }*/
  #contact {
    padding: 5px;
  }
  /*.gallery figure img { width: 24vw;}*/
  footer {
    background-color: #788aa3;
    color: #fff8eeff;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 1.5em;
  }
  div .day, .icon, .temp {
    justify-self: center;
  }
  #thanks {
    font-size: 3em;
    padding: 3em;
  }
}