* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  font-family: 'Crimson Text', serif;
  
}

header {
  margin: 0 auto;
  background-color: #4a3e62;
  color: #fff8eeff;
  box-shadow: 0 0 30px #777;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-flow: row wrap;
}
#top {
  margin: auto;
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;

}
#top img { 
  width: 49px;
  height: 49px;
  padding: .5em;
  justify-content: flex-end;
  align-items: center;
}
.headings { justify-content: flex-start; font-size: 1.5em;}
.headings h1 { margin: 0;}
.motto { padding: 5px; }
nav {
  width: 100%;
  margin: 0;
  background-color:#788aa3;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
nav ul { 
  padding: .5em;
  font-size: 1.25em;
}
nav ul.hide { display: none; }
nav a { margin: .5em;}
nav a:link { 
  color:#fff8eeff;
  text-decoration: none;
}
nav a:visited { color: #4a3e62; }
a:hover { background-color: #e86e3bff; height: 100%}
nav a.current {
  background-color: #fff8eeff;
  color: #121225;
}
nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #4a3e62;

}
main { color: #4a3e62; }
#preston {
  margin: 20px;
  font-size: 2em;
}
/*Local Weather Table*/
#local {
  position: absolute;
  background-color: rgb(120, 138, 163, 0.8);
  color: #121225;
  border: 1px solid #fff8eeff;
  box-shadow: 0 0 30px #121225;
  margin: 10px;
  padding: 10px;
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10px;
  grid-gap: 10px;
}
  /*Local weather table grid tracks*/
  #local .one {
    grid-column: 1 / 3;
    grid-row: 1;
    justify-self: center;
  }
  #local .two {
    grid-row: 2;
    grid-column: 1;
    justify-self: end;
  }
  #local .three {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
  }
/*Five Day Forecast*/
#forecast { display: none; }
section .image { width: 100vw; }
article {
  background-color: #788aa3;
  color: #fff8eeff;
  overflow: auto;
  padding: 20px;
}
article h4 {
  font-style: italic;
}
article .image {
  padding: 0;
}
.info {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 1.5em;
  padding: 2em;
}
.info ul {
  margin: 0 0 0 20px;

}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.map {
  border-style: groove;
  border-color: #788aa3;
  width: 40vw;
}
#socialmedia li{
  display: inline-block;
  margin: 20px;
}
footer {
  background-color: #788aa3;
  color: #fff8eeff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding: 5px;
  font-size: .5em;
}