@media screen and (min-width: 600px){
  nav { background: #788aa3; }
  nav li, a { display: inline-block; }
  #menu { display: none; }
  nav ul { padding: 0; font-size: 1em;}
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .25s;
  }
  nav ul.hide { display: block; }
  nav a.current {
    background-color: #fff8eeff;
    color: #121225;
  }
  main, footer {
    margin: auto;
    max-width: 80%;
  }
  #forecast {
    display: inline;
    margin: auto;
    padding: 2em;
  }
  section .image {
    width: 100%;
    object-fit: contain;
  }
  article .image {
    float: right;
  }
  .towninfo {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 172px);
    grid-gap: 15px;
    max-width: 70%;
  }
  
  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 15px auto 20px;
    grid-gap: 10px;
  }
  .info { 
    display: flex;
    flex-flow: row nowrap;
  }
  .gallery figure img { width: 25vw;}
  .gallery { 
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;
    padding: 2em;
  }
  .gallery .image:hover {box-shadow: 0 0 50px #333;}
  footer {
    background-color: #788aa3;
    color: #fff8eeff;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
  }
  div .day, .icon, .temp {
    justify-self: center;
  }
  #thanks {
    font-size: 3em;
    padding: 3em;
  }
}